@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';

@import 'base/typography';

@import 'pages/home';

@import 'themes/theme';

@import 'layout/navigation';
@import 'layout/banner';
@import 'layout/cards';
@import 'layout/articles';
@import 'layout/input';
@import 'layout/footer';
@import 'layout/copyright';
@import 'layout/glide-container';
@import 'layout/menu';

@import 'components/hero';
@import 'components/buttons';
@import 'components/card';
@import 'components/article';
@import 'components/input';
@import 'components/glide';


.display {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
}

.displayOff {
  display: none;
}