@import url("https://fonts.googleapis.com/css?family=Raleway");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-fade__slow {
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}

.animation-fade__quick {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
  color: inherit;
}

input {
  font-family: "Raleway", sans-serif;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(135, 222, 135);
  height: 6.313rem;
  max-width: 120rem;
  margin: 0 auto;
  color: rgb(51, 51, 51);
}
@media (min-width: 375px) and (max-width: 640px) {
  .navigation {
    height: 4rem;
    min-width: 23.4375rem;
  }
}
.navigation__logo {
  display: flex;
  justify-content: flex-start;
}
.navigation__logo-background {
  width: 7.5rem;
  height: 2.625rem;
  padding: 1.531rem 0px 2.172rem 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .navigation__logo-background {
    padding: 0 8.225rem 0 2rem;
    height: 4rem;
    width: 9.275rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .navigation__logo-background {
    padding: 0 8.225rem 0 2rem;
    height: 4rem;
    width: 9.275rem;
  }
}
.navigation__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-weight: 600;
  font-size: 1.125rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .navigation__links {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .navigation__links {
    display: none;
  }
}

.banner {
  background-image: url(../images/banner.png);
  height: 40rem;
  max-width: 120rem;
  box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
@media (min-width: 375px) and (max-width: 640px) {
  .banner {
    display: none;
  }
}

.banner-mobile {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 0 auto;
  background: rgb(135, 222, 135);
}
@media (min-width: 1024px) {
  .banner-mobile {
    display: none;
  }
}
.banner-mobile__container {
  padding-bottom: 3.0769rem;
  background: rgb(135, 222, 135);
}

.cards {
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 375px) and (max-width: 640px) {
  .cards {
    display: flex;
    flex-flow: column nowrap;
  }
}
.cards__title {
  flex: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.522rem;
  text-align: center;
  margin: 7.5rem 0 5.375rem 0;
}
@media (min-width: 375px) and (max-width: 640px) {
  .cards__title {
    padding-bottom: 0.875rem;
    margin: 0 auto;
    padding: 2.9813rem 0 0rem 0;
  }
}
.cards__container {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin-bottom: 7.5rem;
}

.articles {
  background-color: rgb(51, 51, 51);
  color: rgb(254, 254, 254);
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 375px) and (max-width: 640px) {
  .articles {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.articles__title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.522rem;
  margin-top: 4rem;
  margin-bottom: 7.313rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .articles__title {
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin-bottom: 4rem;
  }
}
.articles__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (min-width: 375px) and (max-width: 640px) {
  .articles__container {
    gap: 1.8125rem 0;
    padding-bottom: 0rem;
    margin: 0 auto;
  }
}
.articles__button {
  padding-bottom: 8rem;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 640px) {
  .articles__button {
    display: none;
  }
}

.input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: rgb(51, 51, 51);
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}
.input__title {
  margin-top: 7.5rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 640px) {
  .input__title {
    font-size: 2.25rem;
    line-height: 2.6412rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
}
.input__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  max-width: 52.5rem;
  margin-bottom: 4.398rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .input__text {
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 0 2rem 0 2rem;
  }
}
.input__container {
  width: 43.5rem;
  position: relative;
  margin-bottom: 7.5rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .input__container {
    width: 20.5rem;
    height: 3rem;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
  }
}

.footer {
  background-color: rgb(135, 222, 135);
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  padding-bottom: 3rem;
  color: rgb(51, 51, 51);
}
@media (min-width: 1024px) {
  .footer {
    max-width: 120rem;
    max-height: 26.5rem;
  }
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
  }
}
.footer__logo {
  padding-top: 3rem;
  margin-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    padding-top: 0rem;
  }
}
.footer__logo img {
  width: 13.938rem;
  height: 6.011rem;
}
.footer__containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__containers {
    display: flex;
    flex-flow: column nowrap;
  }
}
.footer__containers .footer__containers-info {
  display: flex;
  flex-flow: column wrap;
  padding-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__containers .footer__containers-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__containers .footer__containers-info h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.761rem;
  margin-bottom: 0;
}
.footer__containers .footer__containers-products {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__containers .footer__containers-products {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__containers .footer__containers-products a {
  margin-bottom: 0.625rem;
}
.footer__containers .footer__containers-company {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__containers .footer__containers-company {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__containers .footer__containers-company a {
  margin-bottom: 0.625rem;
}
.footer__containers .footer__containers-company h3 {
  font-weight: 600;
}
.footer__containers .footer__containers-media {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}
@media (min-width: 375px) and (max-width: 640px) {
  .footer__containers .footer__containers-media {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__containers .footer__containers-media .footer__containers-links {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}

.copyright {
  background-color: rgb(51, 51, 51);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(254, 254, 254);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
@media (min-width: 1024px) {
  .copyright {
    max-width: 120rem;
    height: 3rem;
  }
}
@media (min-width: 375px) and (max-width: 640px) {
  .copyright {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
}
.copyright .copyright__left {
  padding-top: 0.813rem;
  margin-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .copyright .copyright__left {
    display: flex;
    margin-left: 0rem;
    padding-top: 0rem;
    justify-content: center;
  }
}
.copyright .copyright__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  -moz-column-gap: 2.25rem;
       column-gap: 2.25rem;
  margin-right: 6.75rem;
  padding-top: 0.813rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .copyright .copyright__right {
    margin-left: 0rem;
    padding-top: 0rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding-right: 1rem;
  }
}

.glide-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: rgb(51, 51, 51);
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 16.375rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .glide-container {
    padding-top: 2rem;
  }
}
.glide-container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  padding-bottom: 2.875rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .glide-container h2 {
    display: none;
  }
}
.glide-container button {
  border-radius: 50%;
  background: rgb(135, 222, 135);
  border: none;
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
@media (min-width: 375px) and (max-width: 640px) {
  .glide-container button {
    background: rgb(254, 254, 254);
  }
}

.menu {
  display: none;
  background: rgb(254, 254, 254);
  color: rgb(0, 0, 0);
}
@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu__button-close {
  align-self: end;
  background: none;
  border: none;
  padding: 1.1rem 2rem 0 0;
  cursor: pointer;
}
.menu .menu__items {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.menu .menu__items li {
  padding-bottom: 2rem;
}
.menu .menu__button-get {
  border: none;
  position: absolute;
  bottom: 3rem;
  margin-left: 2rem;
  cursor: pointer;
  width: 10rem;
  height: 3.5rem;
  margin-right: 6.75rem;
  border: none;
  background: rgb(135, 222, 135);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.321rem;
}

.hero {
  position: absolute;
  margin-left: 12.25rem;
  margin-top: 12.875rem;
  display: grid;
  grid-template-columns: 2rem 37.188rem;
  width: 39.188rem;
  max-width: 39.188rem;
  height: 14.25rem;
}
.hero__border {
  background-color: rgb(135, 222, 135);
  width: 2rem;
}
.hero__text {
  background-color: rgb(51, 51, 51);
  width: 37.188rem;
  max-width: 37.188rem;
  color: rgb(254, 254, 254);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
.hero__text h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.hero__text p {
  margin-left: 2rem;
  margin-right: 1.188rem;
}

.container__text {
  background: rgb(51, 51, 51);
  color: rgb(254, 254, 254);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}
.container__text h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.container__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.navigation-button {
  width: 8rem;
  height: 2.5rem;
  margin-right: 6.75rem;
  border: none;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.321rem;
}

.article-button {
  background: rgb(135, 222, 135);
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.75rem;
  border: none;
  width: 16.5rem;
  height: 4.5rem;
}

.hamburger-button {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-items: flex-end;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
}
@media (min-width: 1024px) {
  .hamburger-button {
    display: none;
  }
}

.card {
  width: 34.5rem;
  height: 21.75rem;
  background-color: rgb(51, 51, 51);
  color: rgb(254, 254, 254);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    margin-top: 5.5rem;
    width: 19.5rem;
    height: 28.625rem;
  }
}
.card__icon {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background: rgb(135, 222, 135);
  margin: 0px 0px 1.063rem 2rem;
  position: relative;
}
@media (min-width: 375px) and (max-width: 640px) {
  .card__icon {
    position: absolute;
    margin: -5.7rem 0rem 32.5rem 0.75rem;
  }
}
.card__icon img {
  width: 4.375rem;
  padding-left: 1.563rem;
  padding-top: 1.563rem;
}
.card__titles {
  line-height: 1.761rem;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
@media (min-width: 375px) and (max-width: 640px) {
  .card__titles {
    margin-top: 2.5rem;
    align-items: center;
  }
}
.card__titles h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}
.card__titles h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 0;
}
.card__text {
  grid-column: 1/4;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  margin: 0 2.125rem 2rem 2rem;
  width: 30.375rem;
  height: 9.188rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .card__text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 17.5rem;
  }
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 8rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5rem;
  }
}
.article__text {
  max-width: 43.5rem;
  max-height: 27.188rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article__text {
    margin: 0 auto;
    max-width: 19.5rem;
    max-height: 53.5rem;
  }
}
.article__text h3 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: flex-start;
  margin-top: 0;
  padding-top: 0;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article__text h3 {
    font-size: 1.5rem;
    line-height: 1.76rem;
    text-align: center;
    padding-top: 1.8125rem;
  }
}
.article__text p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  text-align: left;
}
.article__image {
  max-width: 43.5rem;
  max-height: 30rem;
  background-color: rgb(135, 222, 135);
}
@media (min-width: 375px) and (max-width: 640px) {
  .article__image {
    max-width: 23.4375rem;
    max-height: 23.5rem;
  }
  .article__image img {
    max-width: 23.4375rem;
    max-height: 21.5rem;
  }
}
.article .first-text {
  padding-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article .first-text {
    padding-left: 0rem;
    order: 1;
  }
}
.article .second-text {
  padding-right: 6.75rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article .second-text {
    padding-right: 0rem;
    order: 3;
  }
}
.article .first-image {
  max-width: 41.5rem;
  padding-right: 2rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article .first-image {
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
}
.article .second-image {
  max-width: 41.5rem;
  padding-left: 2rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .article .second-image {
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
}

.input-box {
  width: 100%;
  height: 4rem;
  border: 1px solid rgb(254, 254, 254);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  box-sizing: border-box;
  font-style: italic;
  font-size: 1.125rem;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 400;
  line-height: 1.321rem;
}
@media (min-width: 375px) and (max-width: 640px) {
  .input-box {
    width: 100%;
    font-size: 1rem;
    line-height: 1.1875rem;
  }
}

.input-button {
  border-radius: 12px;
  background: rgb(135, 222, 135);
  border: none;
  width: 7.5rem;
  height: 3rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  margin: 0;
}
@media (min-width: 375px) and (max-width: 640px) {
  .input-button {
    width: 6.375rem;
    height: 4rem;
    top: 0rem;
    right: 0rem;
    border-radius: 0px 12px 12px 0px;
  }
}

.glide {
  max-height: 640px;
  max-width: 120rem;
}
.glide__slides {
  height: 19.5rem;
}
.glide__slides .glide_slide {
  height: 19.5rem;
}
.glide__slides .glide_slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.glide__slides img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.glide .glide__arrows {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.display {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
}

.displayOff {
  display: none;
}/*# sourceMappingURL=main.css.map */