.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 8rem;

  @include mobile-device {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5rem;
  }

  &__text {
    max-width: 43.5rem;
    max-height: 27.188rem;

    @include mobile-device {
      margin: 0 auto;
      max-width: 19.5rem;
      max-height: 53.5rem;
    }
    
    h3 {
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.625rem;
      text-align: flex-start;
      margin-top: 0;
      padding-top: 0;

      @include mobile-device {
        font-size: 1.5rem;
        line-height: 1.76rem;
        text-align: center;
        padding-top: 1.8125rem;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.321rem;
      text-align: left;
    }
  }

  &__image {
    max-width: 43.5rem;
    max-height: 30rem;
    background-color: $green;
    
    @include mobile-device {
      max-width: 23.4375rem;
      max-height: 23.5rem;
       img {
        max-width: 23.4375rem;
        max-height: 21.5rem;
       } 
    }
  }

  .first-text {
    padding-left: 6.75rem;

    @include mobile-device {
      padding-left: 0rem;
      order: 1;
    }
  }

  .second-text {
    padding-right: 6.75rem;

    @include mobile-device {
      padding-right: 0rem;
      order: 3;
    }
  }

  .first-image {
    max-width: 41.5rem;
    padding-right: 2rem;

    @include mobile-device {
      padding-right: 0rem;
      padding-bottom: 1rem;
    }
  }

  .second-image {
    max-width: 41.5rem;
    padding-left: 2rem;

    @include mobile-device {
      padding-left: 0rem;
      padding-bottom: 1rem;
    }
  }
}