.navigation-button {
  width: 8rem;
  height: 2.5rem;
  margin-right: 6.75rem;
  border: none;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.321rem;
}

.article-button {
  background: $green;
  color: $card-container;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.75rem;
  border: none;
  width: 16.5rem;
  height: 4.5rem;
}

.hamburger-button {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-items: flex-end;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
   
  @include desktop-device {
    display: none;
  } 
}