.card {
  width: 34.5rem;
  height: 21.75rem;
  background-color: $card-container;
  color: $card-text;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2rem;

  @include mobile-device {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    margin-top: 5.5rem;
    width: 19.5rem;
    height: 28.625rem;
  }

  &__icon {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    background: $green;
    margin: 0px 0px 1.063rem 2rem;
    position: relative;

    @include mobile-device {
      position: absolute;
      margin: -5.7rem 0rem 32.5rem 0.75rem;
    }

    img {
      width: 4.375rem;
      padding-left: 1.563rem;
      padding-top: 1.563rem;
    }
  }

  &__titles {
    line-height: 1.761rem;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    @include mobile-device {
      margin-top: 2.5rem;
      align-items: center;
    }

    h3 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 0.625rem;
    }

    h4 {
      font-weight: 400;
      font-style: italic;
      font-size: 1.5rem;
      margin-top: 0;
    }
  }

  &__text {
    grid-column: 1 / 4;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.321rem;
    margin: 0 2.125rem 2rem 2rem;
    width: 30.375rem;
    height: 9.188rem;

    @include mobile-device {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 17.5rem;
    }
  }
}