.glide {
  max-height: 640px;
  max-width: 120rem;

  &__slides {
    height: 19.5rem;

    .glide_slide {
      height: 19.5rem;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .glide__arrows {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }
}