.hero {
  position: absolute;
  margin-left: 12.25rem;
  margin-top: 12.875rem;
  display: grid;
  grid-template-columns: 2rem 37.188rem;
  width: 39.188rem;
  max-width: 39.188rem;
  height: 14.25rem;

  &__border {
    background-color: $green;
    width: 2rem;
  }

  &__text {
    background-color: $card-container;
    width: 37.188rem;
    max-width: 37.188rem;
    color: $card-text;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.313rem;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 3.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    p {
      margin-left: 2rem;
      margin-right: 1.188rem;
    }
  }
}

.container__text {
  background: $card-container;
  color: $card-text;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;


  h1 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.625rem;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }
}