.input-box {
  width: 100%;
  height: 4rem;
  border: 1px solid $card-text;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  box-sizing: border-box;
  font-style: italic;
  font-size: 1.125rem;
  color: $placeholder;
  font-weight: 400;
  line-height: 1.321rem;

  @include mobile-device {
    width: 100%;
    font-size: 1rem;
    line-height: 1.1875rem;
  }
}

.input-button {
  border-radius: 12px;
  background: $green;
  border: none;
  width: 7.5rem;
  height: 3rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  margin: 0;

  @include mobile-device {
    width: 6.375rem;
    height: 4rem;
    top: 0rem;
    right: 0rem;
    border-radius: 0px 12px 12px 0px;
  }
}