@mixin mobile-device {
  @media (min-width: $mobile-width) and (max-width: $tablet-width){
    @content
  }
};

@mixin tablet-device {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    @content
  }
};

@mixin desktop-device {
  @media (min-width: $desktop-width) {
    @content
  }
}

@mixin footer-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 0rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
