.articles {
  background-color: $card-container;
  color: $card-text;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;

  @include mobile-device {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.522rem;
    margin-top: 4rem;
    margin-bottom: 7.313rem;

    @include mobile-device {
      font-size: 2.25rem;
      line-height: 2.625rem;
      margin-bottom: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include mobile-device {
      gap: 1.8125rem 0;
      padding-bottom: 0rem;
      margin: 0 auto;
    }
  }

  &__button {
    padding-bottom: 8rem;
    text-align: center;

    @include mobile-device {
      display: none;
    }
  }
}