.banner {
  background-image: url(../images/banner.png);
  height: 40rem;
  max-width: 120rem;
  box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
  margin: 0 auto;

  @include mobile-device {
    display: none;
  }   
}

.banner-mobile {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 0 auto;
  background: $green;
  
  @include desktop-device {
      display: none;
    }

  &__container {
    padding-bottom: 3.0769rem;
    background: $green;
  }
}

