.cards {
  display: flex;
  flex-flow: column nowrap;

   @include mobile-device {
    display: flex;
    flex-flow: column nowrap;
   }

  &__title {
    flex: 1;
    font-family: $font;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.522rem;
    text-align: center;
    margin: 7.5rem 0 5.375rem 0;

    @include mobile-device {
      padding-bottom: .875rem;
      margin: 0 auto;
      padding: 2.9813rem 0 0rem 0;
    }
  }
  
  &__container {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1.5rem;
    margin-bottom: 7.5rem;
  }
}