.copyright {
  background-color: $card-container;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $card-text;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;

  @include desktop-device {
    max-width: 120rem;
    height: 3rem;
  }

  @include mobile-device {
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  .copyright__left {
    padding-top: 0.813rem;
    margin-left: 6.75rem;

    @include mobile-device {
      display: flex;
      margin-left: 0rem;
      padding-top: 0rem;
      justify-content: center;
    }
  }

  .copyright__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    column-gap: 2.25rem;
    margin-right: 6.75rem;
    padding-top: 0.813rem;

    @include mobile-device {
      margin-left: 0rem;
      padding-top: 0rem;
      column-gap: 1rem;
      padding-right: 1rem;
    }
  }
}