.footer {
  background-color: $green;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  padding-bottom: 3rem;
  color: $card-container;

  @include desktop-device {
    max-width: 120rem;
    max-height: 26.5rem;
  }

  @include mobile-device {
    display: flex;
    flex-flow: column nowrap;
  }

  &__logo {
    padding-top: 3rem;
    margin-left: 6.75rem;

    @include mobile-device {
      display: flex;
      justify-content: center;
      margin-left: 0rem;
      padding-top: 0rem;

    }

    img {
      width: 13.938rem;
      height: 6.011rem;
    }
  }

  &__containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include mobile-device {
      display: flex;
      flex-flow: column nowrap;
    }

    .footer__containers-info {
      display: flex;
      flex-flow: column wrap;
      padding-left: 6.75rem;

      @include mobile-device {
        @include footer-info;
      }
      
      h2 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.761rem;
        margin-bottom: 0;
      }
    }

    .footer__containers-products {
      display: flex; 
      flex-flow: column wrap;

      @include mobile-device {
        @include footer-info;
      }

      a {
        margin-bottom: 0.625rem;
      }
    }

    .footer__containers-company {
      display: flex;
      flex-flow: column wrap;

      @include mobile-device {
        @include footer-info;
      }

      a {
        margin-bottom: 0.625rem;
      }

      h3 {
        font-weight: 600;
      }
    }

    .footer__containers-media {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: $footer-media;

      @include mobile-device {
        @include footer-info;
      }
        
      .footer__containers-links {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
      }
    }
  } 
}
