.glide-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: $card-container;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 16.375rem;

  @include mobile-device {
    padding-top: 2rem;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    padding-bottom: 2.875rem;
    margin: 0 auto;
     
    @include desktop-device {
      display: none;
    } 
  }

  button {
    border-radius: 50%;
    background: $green;
    border: none;
    width: 6.25rem;
    height: 6.25rem;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

    @include mobile-device {
      background: $card-text;
    } 
  } 
}