.input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: $card-container;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;

  @include mobile-device {
    
  }

  &__title {
    margin-top: 7.5rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;

    @include mobile-device {
      font-size: 2.25rem;
      line-height: 2.6412rem;
      margin: 0 auto;
      padding-top: 2rem;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    max-width: 52.5rem;
    margin-bottom: 4.398rem;

    @include mobile-device {
      font-size: 1rem;
      line-height: 1.1875rem;
      padding: 0 2rem 0 2rem;
    }
  }

  &__container {
    width: 43.5rem;
    position: relative;
    margin-bottom: 7.5rem;
    
    @include mobile-device {
      width: 20.5rem;
      height: 3rem;
      margin-bottom: 5rem;
      box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.25);
      border-radius: .75rem;
    }
  }
}