.menu {
  @include desktop-device {
      display: none;
    }
  
    @include tablet-device {
      display: none;
    }
    display: none;
    background: $card-text;
    color: $footer-media;

  &__button-close {
    align-self: end;
    background: none;
    border: none;
    padding: 1.1rem 2rem 0 0;
    cursor: pointer;
  }

  .menu__items {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75rem;

    li {
        padding-bottom: 2rem;
    }
  }
  
  .menu__button-get {
    border: none;
    position: absolute;
    bottom: 3rem;
    margin-left: 2rem;
    cursor: pointer;
    width: 10rem;
    height: 3.5rem;
    margin-right: 6.75rem;
    border: none;
    background: $green;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.321rem;
  }
}