.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $green;
  height: 6.313rem;
  max-width: 120rem;
  margin: 0 auto;
  color: $navigation_text;

  @include mobile-device {
    height: 4rem; //64px
    min-width: 23.4375rem;
  } 

  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  &__logo-background {
    width: 7.5rem;
    height: 2.625rem;
    padding: 1.531rem 0px 2.172rem 6.75rem;

    @include mobile-device {
      padding: 0 8.225rem 0 2rem;
      height: 4rem; //64px
      width: 9.275rem;
    }
            
    @include tablet-device {
      padding: 0 8.225rem 0 2rem;
      height: 4rem; //64px
      width: 9.275rem;
    }
}

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    font-weight: 600;
    font-size: 1.125rem;

    @include mobile-device {
      display: none;
    }
            
    @include tablet-device{
      display: none;
    }
  }
}