body {
  margin: 0 auto;
  font-family: $font;
}

button {
  font-family: $font;
  color: inherit;
}

input {
  font-family: $font;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: inherit;
}  

