$green:rgba(135, 222, 135, 1);
$navigation-text: rgba(51, 51, 51, 1);
$card-container: rgba(51, 51, 51, 1);
$card-text: rgba(254, 254, 254, 1);
$placeholder: rgba(51, 51, 51, 0.7);
$footer-media: rgba(0, 0, 0, 1)